<h1>Can you name all the pokemons?</h1>
<div>
  <legend>Custom controls</legend>
  <select id="select" (change)="onSelectChange($event)">
    <option *ngFor="let generation of generations" [value]="generation">
      {{ generation.replace("_", " ") }}
    </option>
  </select>
</div>
<input
  type="text"
  name="pokemonSearch"
  [(ngModel)]="pokemonSearch"
  placeholder="Insert a pokemon name"
  (keyup.enter)="onEnterKeyUp(pokemonSearch)"
/>
<ul>
  <li *ngFor="let pokemon of pokemonList">
    <div *ngIf="pokemon.isFound; else notFoundYet">
      <p>{{ pokemon.id }} {{ pokemon.name }}</p>
      <img src="{{ pokemon.sprite }}" />
    </div>
    <ng-template #notFoundYet>{{ pokemon.id }} ---</ng-template>
  </li>
</ul>
